name: Tests

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule: [ cron: "42 0 7 * *" ] # https://crontab.guru/#42_0_7_*_*

jobs:
  test:
    runs-on: ubuntu-latest
    strategy: {matrix: {ruby: [ 3.1, 3.2, 3.3, 3.4, '4.0' ]}}
    steps:
      - uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with: { egress-policy: audit }
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ruby/setup-ruby@90be1154f987f4dc0fe0dd0feedac9e473aa4ba8 # v1.286.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bin/rake
