name: Tests

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule: [ cron: "42 0 7 * *" ] # https://crontab.guru/#42_0_7_*_*

jobs:
  test:
    runs-on: ubuntu-latest
    strategy: {matrix: {ruby: [ '3.0', 3.1, 3.2, 3.3, 3.4 ]}}
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with: { egress-policy: audit }
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771 # v1.278.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bin/rake
